# for pytorch
torch
transformers

# onnx
onnxruntime
git+https://github.com/hieupth/fastokenizer.git

gdown
fastapi 
uvicorn 
jinja2 
tritonclient[all]
attrdict
python-multipart

# RAG
langchain-community
langchain
langchain-experimental
qdrant-client
langchain-qdrant
langchain-huggingface
